.equacion2 {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    align-items: center;

    /*Fazer os itens ocupar todo o espaço da divisão */
    display: flex;
    flex-direction: column;
}

.equacion2 h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(51, 230, 191);
    font-weight: bold;    
}

.equacion2 p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0px 5px 0px;
}

.equacion2 .inputnumber {
    background-color: rgb(222, 222, 224);
    width: 50%;
    border-radius: 10px; 

    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
.equacion2 .inputnumber:focus {
    border: 3px solid rgb(51, 230, 191);
}

.equacion2 .buttom {
    background-color: rgb(51, 230, 191);
    width: 200px;
    padding: 20px;
    margin: 10px 0px 0px 0px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    transition: 300ms;
    outline: none;
}

.equacion2 .buttom:hover {
    background-color: rgb(36, 187, 154);
}

#resultx1x2 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 0 20px 0;
    font-weight: bold;
}




