input::-webkit-inner-spin-button {
    -webkit-appearance: none ;
    margin: 0;
    
  }

body {
    font-family: poppins;
}

input{
    font-family: poppins;
    font-weight: 600;
    font-size: 1.8rem;
   
}

body {
    background-color: #D0CDCD;
    max-width: 100%;
   
}

#information #title h1 {
    font-weight: bold;
    font-size: 10rem;
    line-height: 1rem;
    text-align: center;
    
    color: #000000;

}

#information #calculator input {

    margin: 4px;
    background: #C4C4C4;
    border-radius: 10px;
    border: 2px #C4C4C4 solid;
    
   
    
    text-decoration: none;
    outline: none;
    

    transition: border 400ms;
}
#information #calculator input:focus {
    border: 2px #1CCB6C solid;
}

#information #numbers p {


    font-weight: bold;
    line-height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    
    color: #000000;
}

#information #numbers #observation p {
    
    color: red;
}

#information #numbers {


    margin-top: 5rem;
    margin-left: 2rem;
    background: #DEDDDD;
    border: 7px solid #1CCB6C;
    box-sizing: border-box;
    border-radius: 20px;
}



#information #button input {
    width: 90%;
    height: 5rem;
    margin: 0.6rem auto;
    font-size: 2.8rem;
    font-weight: bold;
    border: none;
    outline: none;

    display: flex;
    align-items: center;
    justify-content: center;
    background: #1CCB6C;
    border-radius: 20px;

    transition: background 500ms;

}

#information #button input:hover {
    background-color: #15a757;
}

#container {

    width: 90%;
    height: 51.5rem;
    margin-top: 5rem;
    margin-left: 2rem;
    background: #DEDDDD;
    border: 7px solid #1CCB6C;
    box-sizing: border-box;
    border-radius: 20px;
}

#results {
    margin: 1rem;
    font-size: 1.3rem;
    
}



@media (max-width: 425px) {
    body {
        display: block;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    input{
        display: block;
        margin-right: auto;
        margin-left: auto;
        font-family: poppins;
        font-weight: 600;
        font-size: 1.8rem;
        width: 90%;
        max-width: 18rem;
        
        
    }

    #information #numbers {
        width: auto;
        margin: 1rem;
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #information #title h1 {
        font-size: 3rem;
        align-items: center;
    }

    

    #information #numbers p {
        font-weight: bold;
        font-size: 1.3rem;
        line-height: 1.4rem;
        }

    #information #numbers #observation p {
        font-size: 1rem;
        line-height: 1rem;
    }

    body #container {
        width: auto;
        margin: 1rem;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

}

@media (min-width: 425px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    input{
        display: block;
        margin-right: auto;
        margin-left: auto;
        font-family: poppins;
        font-weight: 600;
        font-size: 1.8rem;
        width: 90%;
        max-width: 18rem;
        
    }

    #information #numbers {
        min-width: 80%;
        width: 90%;
        margin: 1rem;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 700px;
    }

    #information #title h1 {
        font-size: 6rem;
        align-items: center;
    }

    #information #numbers h2 {
        font-size: 2em;
    }

    #information #numbers p {
        font-size: 1.5rem;
    }

    #information #numbers #observation p {
        font-size: 1.2rem;
        line-height: 1.3rem;
    }

    #container {

        min-width: 80%;
        width: 80%;
        margin-right: 2.5rem;
        
        display: block;
        flex-direction: column;
        align-items: center;
        max-width: 700px;

    }
    
    #information #numbers #calculator {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
    }

    
}


@media (min-width: 1400px) {
    body {
        background-color: #D0CDCD;
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }

    
    
    #information #title h1 {
        font-weight: bold;
        font-size: 10rem;
        line-height: 1rem;
        text-align: center;
        
        color: #000000;
    
    }

    
    #information #numbers  {
        width: 90%;
        height: ;
        
        margin: 1rem auto;
        background: #DEDDDD;
        border: 7px solid #1CCB6C;
        box-sizing: border-box;
        border-radius: 20px;
    }


 #information #numbers h2 {
    color: #1CCB6C;
    
    font-weight: bold;
    font-size: 3.2rem;
    line-height: 1rem;
    display: flex;
    justify-content: center;

}

#information #numbers p {


font-weight: bold;
font-size: 2.2rem;
line-height: 2rem;
display: flex;
justify-content: center;
align-items: center;
text-align: center;

color: #000000;
}



#information #numbers #calculator {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
}




#calculator #valuea {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "texta valuea1"
    "texta  valuea2";
}

#calculator #valuea p {
    grid-area: texta;
    margin-left: 1rem;
    margin-bottom: 4rem;
    font-size: 3.5rem;

}

#calculator #valuea #valuea1 {
    grid-area: valuea1;
    margin-top: 3rem;
    width: 8rem;
    height: 4rem;
}

#calculator #valuea #valuea2 {
    grid-area: valuea2;
    margin-top: 0.5rem;
    width: 8rem;
    height: 4rem;
    
}


#calculator #valueb {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "textb valueb1"
    "textb  valueb2";
}



#calculator #valueb p {
    grid-area: textb;
    margin-left: 1rem;
    margin-bottom: 4rem;
    font-size: 3.5rem;

}

#calculator #valueb #valueb1 {
    grid-area: valueb1;
    margin-top: 3rem;
    width: 8rem;
    height: 4rem;
}

#calculator #valueb #valueb2 {
    grid-area: valueb2;
    margin-top: 0.5rem;
    width: 8rem;
    height: 4rem;
}


#calculator #valuec {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "textc valuec1"
    "textc  valuec2";
}



#calculator #valuec p {
    grid-area: textc;
    margin-left: 1rem;
    margin-bottom: 4rem;
    font-size: 3.5rem;

}

#calculator #valuec #valuec1 {
    grid-area: valuec1;
    margin-top: 3rem;
    width: 8rem;
    height: 4rem;
}

#calculator #valuec #valuec2 {
    grid-area: valuec2;
    margin-top: 0.5rem;
    width: 8rem;
    height: 4rem;
}


#information #calculator valuea p {
    grid-area: "texta";
}

#information #numbers #observation p {
    font-size: 1.5rem;
}
}















